<p id="notice"><%= notice %></p>

<h1>All Job Postings</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sortable "posting_id", "Posting" %></th>
      <th><%= sortable "published", "Published" %></th>
      <th><%= sortable "title", "Title"%></th>
      <th><%= sortable "authors.name", "Author" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.posting_id %></td>
        <td><%= entry.published.strftime("%d/%m/%Y") %></td>
        <td><%= entry.title %></td>
        <td><%= entry.author.name %></td>
        <td><%= link_to 'Details', entry_path(id: entry.id) %></td>
        <td><%= link_to 'Original Posting', entry.link %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

