<p id="notice"><%= notice %></p>

<h1>All Job Postings</h1>
<%= simple_form_for 'search', url: entries_path, method: :get do |f| %>
  <%= f.input 'text', label: false, input_html: {placeholder: "Search posting title and content", value: @text} %>
  <%= f.input 'author_id', label: false, as: :select, collection: Author.all.map{|a| [a.name, a.id]},
      include_blank:"Search by Department", selected: @author_id %>
  <%= f.submit "Search", class: "btn btn-default"%>
<% end %>

<%= will_paginate(@entries) %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sortable "posting_id", "Posting", @author_id, @text %></th>
      <th><%= sortable "published", "Published", @author_id, @text %></th>
      <th><%= sortable "title", "Title", @author_id, @text%></th>
      <th><%= sortable "authors.name", "Author", @author_id, @text %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.posting_id %></td>
        <td><%= entry.published.strftime("%m/%d/%Y") %></td>
        <td><%= entry.title %></td>
        <td><%= entry.author.name %></td>
        <td><%= link_to 'Details', entry_path(id: entry.id) %></td>
        <td><%= link_to 'Original Posting', entry.link %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@entries) %>
<br>
