<%= simple_form_for( @admin_user, url: @path ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :user_type, as: :select, collection: User::USER_TYPES, include_blank: false %>

    <% if f.object.persisted? %>
    <%= link_to "Add New Department", new_user_department_admin_user_path(id: @admin_user.id) %>  
    <%= f.simple_fields_for :user_departments do |ff| %>
        <div class="departments">
          <%= render 'admin/users/department_fields', ff: ff %>
        </div>
    <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, label: "Save" %>
  </div>
<% end %>
